{%extends 'main/layoute.html'%}

{% block title %}
<title>Первая страница на django</title>
{% endblock %}

{% block content %}

    <h1>Урок номер 2 по изучению {{caption}}</h1>
<p>Создание вашего первого сайта на {{caption}} — это увлекательное и полезное занятие, которое открывает двери в мир веб-разработки. На этой главной странице вы узнаете, как Django помогает создавать мощные и масштабируемые веб-приложения.

Django — это высокоуровневый Python-фреймворк, который способствует быстрым разработкам и поддерживает чистый, прагматичный дизайн. С ним вы можете сосредоточиться на написании своего приложения, не заботясь о низкоуровневых деталях.

Этот сайт является вашим первым шагом в изучении Django. Здесь вы найдете простые и понятные уроки, которые помогут вам освоить основы фреймворка. Вы узнаете, как создавать модели для работы с базами данных, как разрабатывать шаблоны для отображения информации и как управлять URL-адресами вашего сайта.

Мы также рассмотрим, как добавлять аутентификацию пользователей, создавать формы для ввода данных и обрабатывать их. Django предлагает множество встроенных функций, которые облегчают эти задачи.

На этом сайте вы найдете полезные советы и примеры, которые помогут вам избежать распространенных ошибок и сделать ваш код более эффективным и безопасным. Мы уверены, что вы быстро освоите основы и сможете приступить к созданию собственных проектов.

Добро пожаловать в мир Django — мир, где ваши идеи становятся реальностью! Начните свой путь в веб-разработке с нами и создавайте потрясающие веб-приложения.</p>

{% endblock %}