{%extends 'main/layoute.html'%}

{% block title %}
<title>Страница тестирования</title>
{% endblock %}

{% block content %}

    <h1>Сравнение {{caption}} и Flask</h1>
<p>
        Django был разработан для быстрой разработки сложных веб-приложений.
    Он предоставляет разработчикам необходимые инструменты для реализации масштабируемой и
    поддерживаемой функциональности. </p>
<p>
        С другой стороны, простота Flask позволяет разработчикам быстрее создавать небольшие приложения.
</p>
{% endblock %}